<h1>
  {{title}}
</h1>
<animal-form-reactive [data]="animalEdit"></animal-form-reactive>
<div *ngIf="animals?.length > 0">
<animal 
    addBorder (mouseLeave)="exit($event)"
      [color]="par ? 'red' : 'green'"  
    [class.even]="par" 
    *ngFor="let animal of animals; let par = even" 
  [animalContent]="animal" (onEdit)="onEdit($event)" (onDelete)="onDelete($event)"></animal>
</div>
<div *ngIf="!animals || animals.length === 0">
  No Animals!
</div>
<!--
<input type="text" [(ngModel)]="user.name" />
<first [name]="user.name" [surname]="user.surname" 
  (deleteUser)="onDelete($event)"></first>  
-->